body {
  font: 1em sans-serif;
  width: 250px;
  padding: 0;
  margin: 0 auto;
  background-color: lightblue;
}

form {
  margin-top: 100%;
  background-color: white;
  padding: 10% 10% 10% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  gap: 10px;
}

p * {
  display: block;
}

input[type="email"] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10%;
  box-sizing: border-box;
  
}

.error.active {
  padding: 0.3em;
}

.passCircle {
  width: 10px;
  height: 10px;
  background-color: red;
  display: inline-block;
  border-radius: 50px;
  margin-right: 5px;
}

.errorZip {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10%;
  box-sizing: border-box;
}

.errorPass {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10%;
  box-sizing: border-box;
}
